<app-navbar></app-navbar>

<div class="main-container container">
  <div class="row">
    <div class="col s12 m12 l10 offset-l2">
      <div *ngFor="let post of posts">
        <div class="row">
          <mat-card>
            <mat-card-header>
              <mat-card-title><a routerLink="/blog/post/{{ post.id }}">{{ post.title | uppercase }}</a></mat-card-title>
              <mat-card-subtitle>Posted by <a routerLink="/blog/user/{{ post.userId }}">{{ post.username }}</a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="collection-item">{{ post.resume }}</p>
            </mat-card-content>
            <mat-menu #categoryList>
              <a *ngFor="let category of post.categories" style="display: block;" routerLink="/category/{{ category }}" mat-button class="menu-btn">{{ category }}</a>
            </mat-menu>
            <mat-menu #tagList>
              <a *ngFor="let tag of post.tags" style="display: block;" routerLink="/tag/{{ tag }}" mat-button class="menu-btn">{{ tag }}</a>
            </mat-menu>
            <mat-card-actions>
              <a mat-button routerLink="/blog/post/{{ post.id }}">Read</a>
              <a *ngIf="post.categories" style="margin-left: 80px;" mat-button [matMenuTriggerFor]="categoryList">Categories</a>
              <a *ngIf="post.tags" style="margin-left: 10px;" mat-button [matMenuTriggerFor]="tagList">Tags</a>
              <p>Posted on {{ post.dateCreated | date:'MM/dd/yyyy' }} at  {{ post.dateCreated | date:'HH:mm:ss' }}</p>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>